@charset "UTF-8";
/* CSS Document */
body,div,ul,li,input,select,textarea,p,h3,font,span,samp,em{ margin:0; padding:0; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu; -webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,li{ list-style:none;}
img{ border:0;}
a{ text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.fl{ float:left;}
.fr{ float:right;}
.hidden{ display:none;}
.clear{ clear:both;}
input,textarea{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only; -webkit-appearance:none; border-radius:0;}

@media screen and (max-width: 359px){
	html{ font-size:13px;}
}
@media screen and (min-width: 359px) and (max-width: 400px){
	html{ font-size:14px;}
}
@media screen and (min-width: 400px){
	html{ font-size:15px;}
}


body{ background-color:#f6f6f6; -webkit-text-size-adjust:none;}
section{ max-width:660px; margin:0 auto;}
.setCon{ margin-top:0.83rem;}
.setCon a{ height:5rem; background:url(../images/lock.png) no-repeat #FFF 3.125% center; background-size:4.687%; display:block; margin-bottom:1px;}
.setCon .setCa{ background:url(../images/tel.png) no-repeat #FFF 3.437% center; background-size:4.062%;}
.setCon img{ height:1.25rem; vertical-align:middle; float:right; margin:1.833rem 4.687% 0 0;}
.setOpt{ float:left; margin:1.167rem 0 0 11.875%;}
.setOpt p{ line-height:1.33rem; font-size:1.167rem; color:#262626;}
.setOpt span{ line-height:1.167rem; font-size:1rem; color:#bfbfbf;}
.exit{ width:100%; height:3.75rem; line-height:3.75rem; font-size:1.167rem; text-align:center; color:#e63b3b; background-color:#FFF; border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; display:block; margin-top:1.667rem;}

.editForm{ background-color:#FFF; margin-top:0.83rem;}
.editFcon{ width:93.75%; margin:0 auto;}
.editFopt{ height:4rem; line-height:4rem; font-size:1.167rem; color:#333; border-top:1px solid #f1f1f1;}
.editFopt1{ font-size:1rem;}
.editFopt:nth-child(1){ border-top:none;}
.editFopt input{ width:80%; height:100%; font-size:1.167rem; color:#333; border:none; background:none; float:left;}
.editFopt .editFinp{ width:55%;}
.editFopt img{ height:1.75rem; float:right; margin:1.125rem 2% 0 0;}
.editFopt i{ height:1.083rem; float:right; margin:1.458rem 3.667% 0 0;}
.editFopt .iDele, .iOpen{ display:none;}
.editFopt i img{ display:block; height:100%; margin:0;}
.editFopt span, .editFopt a{ height:1.75rem; padding-left:0.7rem; line-height:1.75rem; font-size:1.167rem; color:#a1a1a1; border-left:1px solid #f1f1f1; float:right; margin:1.125rem 2% 0 0;}
.editFopt1 samp{ width:6.167rem; color:#5d5d5d; float:left; margin-left:1rem;}
.editFopt1 input{ width:60%; font-size:1rem; color:#a1a1a1;}
.editFopt1 .editFinp{ width:35%;}
.editFopt1 a, .editFopt1 span{ height:1.667rem; line-height:1.667rem; font-size:1rem; margin:1.166rem 2% 0 0;}
.editFopt1 span samp{ width:auto; color:#a1a1a1; margin-left:0;}
.editFtext{ height:7.667rem; border-bottom:1px solid #f1f1f1;}
.editFtext textarea{ width:100%; height:100%; line-height:1.667rem; font-size:1.167rem; color:#333; resize:none; border:none;}
.editFsub{ width:93.75%; height:3.667rem; line-height:3.667rem; text-align:center; font-size:1.333rem; color:#FFF; background-color:#ff6700; border-radius:0.167rem; display:block; margin:1.667rem auto 0 auto;}
.editP{ line-height:3rem; text-align:center; font-size:1rem; color:#b5b5b5;}
.editP a{ color:#8db6fc;}
.forBtn{ line-height:2.333rem; font-size:1rem; color:#80affd; float:right; margin-right:3.112%;}

.messOpt{ padding:10px 3.125%; background-color:#FFF; margin-top:0.833rem;}
.messTop{ height:3.333rem; overflow:hidden;}
.messTop img{ height:100%; float:left;}
.messFr{ width:62.5%; float:left; margin-left:3%;}
.messFr p{ line-height:1.667rem; font-size:1.167rem; color:#494949;}
.messFr span{ line-height:1.333rem; font-size:1rem; color:#a1a1a1;}
.messCon{ line-height:1.667rem; font-size:1rem; color:#999; margin-top:0.5rem;}
.messA{ line-height:3rem; text-align:center; font-size:1.167rem; color:#8db6fc; display:block;}

.heTCon{ height:2rem; line-height:2rem; padding:0.58rem 0; background-color:#FFF;}
.heTCon a{ font-size:1rem; color:#ff986b; float:left; margin-left:1.67%; display:none;}
.heSeac{ width:87.35%; height:2rem; padding:0 3.2%; background-color:#ededed; border-radius:0.167rem; float:left; margin-left:3.125%;}
.heSeac input{ width:82%; height:100%; font-size:1rem; border:none; background:none; float:left; margin-left:2%;}
.heSeac img{ height:1.083rem; margin-top:0.458rem;}
.heClass{ height:5.6rem; margin-bottom:0.833rem;}
/*.heClass1{ margin-bottom:1rem;}*/
.heCOpt{ width:20%; height:5rem; padding-top:0.8rem; text-align:center; background-color:#FFF; float:left; position:relative;}
.heCOpt img{ height:2rem;}
.heCOpt p{ line-height:2.1rem; font-size:1rem; color:#8c8c8c;}
.heCOpt1 p{ color:#ff6700;}
.heCOpt span{ width:1rem; position:absolute; top:5.6rem; left:50%; margin-left:-0.5rem; display:none;}
.heCOpt1 span{ display:block;}
.heCOpt span img{ width:100%; height:auto;}
.heRes{ height:2.667rem; line-height:2.9rem; text-align:center; font-size:1rem; color:#a7a7a7; background-color:#f6f6f6; overflow:hidden;}
.heRes img{ height:1.1rem; vertical-align:middle; margin-right:0.2rem;}
.help ul{ background-color:#FFF;}
.help li{ height:3.25rem; line-height:3.25rem; padding-left:3.437%; border-bottom:1px solid #efefef;}
.help li a{ width:90%; color:#5d5d5d; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; float:left;}
.help li img{ height:1.167rem; float:right; margin:1rem 4.687% 0 0;}

.heDeta{ padding-bottom:1.667rem; background-color:#FFF;}
.heDeta h3{/* height:3.25rem;*/ line-height:1.667rem; padding:0.8rem 0 0.8rem 3.437%; font-size:1.167rem; font-weight:normal; color:#333; border-bottom:1px solid #f1f1f1;}
.heDeta p{ line-height:1.75rem; font-size:1.1rem; color:#6e6e6e; margin:0.5rem 5% 0 5%;}
.heLine{ height:2rem; margin-top:0.8rem; background:url(../images/helpLine.png) repeat-x center; position:relative;}
.heLine span{ width:12rem; height:100%; line-height:2rem; text-align:center; font-size:1.1rem; color:#c6c6c6; background-color:#FFF; position:absolute; top:0; left:50%; margin-left:-6rem;}
.heDa{ height:2.5rem; text-align:center; margin-top:1rem;}
.heDa .heUse{ width:3.5rem; height:2.417rem; line-height:2.417rem; padding-left:3rem; text-align:left; font-size:1rem; color:#a9a9a9; border:1px solid #efefef; border-radius:0.167rem; background:url(../images/use.png) no-repeat 1.25rem center; background-size:20%; display:inline-block; margin:0 2%;}
.heDa .heUse1{ color:#FFF; background:url(../images/use_1.png) no-repeat 1.25rem center #ff6d0a; background-size:20%; border-color:#ff6d0a;}
.heDa .heNouse{ width:3.5rem; height:2.417rem; line-height:2.417rem; padding-left:3rem; text-align:left; font-size:1rem; color:#a9a9a9; border:1px solid #efefef; border-radius:0.167rem; background:url(../images/nouse.png) no-repeat 1.25rem center; background-size:20%; display:inline-block; margin:0 2%;}
.heDa .heNouse1{ color:#FFF; background:url(../images/nouse_1.png) no-repeat 1.25rem center #ff6d0a; background-size:20%; border-color:#ff6d0a;}

.regi{ width:93.75%; color:#232323; margin:0 auto 1rem auto;}
.regTop{ line-height:2rem; font-size:1.167rem; color:#ff7426; margin-top:1.3rem;}
.regi p{ line-height:1.333rem; font-size:1rem; margin-top:1.333rem;}
.regi h3{ line-height:1.667rem; font-size:1rem; font-weight:normal; margin-top:1.333rem;}
.regi b{ text-decoration:underline;}

.info{ height:7.333rem; background:url(../images/info.png) no-repeat; background-size:cover;}
.inCon{ overflow:hidden;}
.inCIcon{ width:4rem; height:4rem; border-radius:2rem; border:1px solid #fdedea; background:url(../images/icon.png) no-repeat; background-size:cover; float:left; margin:1.666rem 0 0 3.437%;}
.inCIcon img{ display:block; width:100%; border-radius:2rem;}
.inLogin{ line-height:7.333rem; font-size:1.333rem; color:#FFF; float:left; margin-left:3.437%;}
.inCen{ width:46.8%; float:left; margin:1.833rem 0 0  3.437%;}
.inCen p{ width:100%; height:2.167rem; line-height:2.167rem; font-size:1.333rem; color:#faedec; float:left;}
.inCen a{ height:1.333rem; padding:0 0.5rem; font-size:1rem; color:#faedec; border:1px solid #faedec; border-radius:0.167rem; float:left;}
.inFr{ height:1.75rem; float:right; margin:2.916rem 5.312%; position:relative;}
.inFr img{ height:100%; display:block; border:none; border-radius:0; margin:0;}
.inFr span{ height:1.2rem; line-height:1.2rem; padding:0 0.32rem; font-size:1rem; color:#f65e58; border-radius:0.6rem; background-color:#FFF; position:absolute; right:-0.5rem; top:-0.6rem; display:none;}

.inJump{ height:3.75rem; line-height:3.75rem; padding-left:4.687%; font-size:1.167rem; color:#494949; background-color:#FFF; display:block; margin-top:0.833rem;}
.inJump img{ height:1.25rem; float:right; margin:1.458rem 4.375% 0 0;}
.inJump span{ font-size:1rem; color:#808080; float:right; margin-right:3.125%;}

.inClass{ height:5.333rem; border-top:1px solid #f1f1f1; background-color:#FFF;}
.inClass a{ width:20%; height:100%; text-align:center; float:left; position:relative;}
.inClass span{ height:1.1rem; line-height:1.1rem; padding:0 0.24rem; font-size:1rem; color:#f65e58; border-radius:0.55rem; border:1px solid #f40f00; background-color:#FFF; position:absolute; left:50%; top:0.6rem; margin-left:0.3rem;}
.inClass img{ height:1.667rem; margin-top:1rem;}
.inClass p{ line-height:1.8rem; font-size:1rem; color:#494949;}

.inOrder{ margin-top:0.833rem;}
.inOTop{ height:4.167rem; line-height:4.167rem; padding-left:4.687%; font-size:1.167rem; color:#494949; background-color:#FFF;}
.inOCon{ padding:1.3rem 0 1rem 0; background:url(../images/inOCon.png) repeat-y center #FFF; margin-top:1px;}
.inOpt{ width:50%; height:100%; text-align:center;}
.inOpt img{ height:2.167rem;}
.inOpt p{ line-height:1.667rem; font-size:1.167rem; color:#6e6e6e; margin-top:0.3rem;}
.inOpt span{ line-height:1.167rem; font-size:1rem; color:#f65e58;}
.inOpt samp{ line-height:1.167rem; font-size:1rem; color:#959595;}

footer{ width:93.75%; height:3.333rem; line-height:3.333rem; position:absolute; bottom:0; left:3.125%;}
footer a{ color:#5a5a5a;}

.bg{ width:100%; background-color:#000; filter:alpha(opacity=0); opacity:0; position:absolute; top:0; left:0; z-index:10;}
.alerCon{ height:4rem; line-height:4rem; padding:0 2.4rem; font-size:1.2rem; color:#FFF; background-color:#202020; border-radius:0.167rem; position:absolute; top:50%; left:50%;}

.conBg{ width:100%; background-color:#000; filter:alpha(opacity=50); opacity:0.5; position:absolute; top:0; left:0; z-index:10;}
.conCon{ width:80%; padding-top:1.333rem; color:#262626; background-color:#FFF; border-radius:0.25rem; position:absolute; top:50%; left:10%; z-index:11;}
.conTile{ height:2.167rem; line-height:2.167rem; text-align:center; font-size:1.333rem;}
.conCon p{ min-height:3.333rem; padding:1rem; line-height:2rem; text-align:center; font-size:1.167rem;}
.conA{ height:3.333rem; text-align:center; border-top:1px solid #f1f1f1;}
.conA a{ line-height:3.333rem; font-size:1.167rem; color:#262626; display:inline-block;}
.conA a:hover{ color:#ffeee9; background-color:#ff6700;}

.biTop{ height:3.333rem; line-height:3.333rem; padding-left:3.437%; font-size:1.167rem; color:#ff6600; background-color:#FFF;}
.biTitle{ margin:0.417rem;}
.biTitle img{ height:4.333rem; float:left; margin-left:3.437%;}
.biTitle p{ width:70%; line-height:1.167rem; font-size:1rem; color:#333; float:left; margin:0.5rem 0 0 5.625%;}
.biPrice{ background-color:#FFF;}
.biPCon{ width:92.5%; margin:0 auto;}
.biPCon p{ height:4rem; line-height:4rem; font-size:1rem; color:#494949; border-bottom:1px solid #f1f1f1; overflow:hidden;}
.biPCon p:nth-last-child(1){ border-bottom:none;}
.biPCon samp{ font-size:1.25rem; color:#333;}
.biAg{ padding:0.417rem 0; background-color:#FFF; margin-top:0.667rem;}
.biAOpt{ padding:0.3rem 0;}
.biAOpt p{ width:92.5%; height:1.667rem; line-height:1.667rem; font-size:12px; color:#5d5d5d; margin:0 auto;}
.biAOpt samp{ color:#b0b0b0;}
.biAOpt i{ height:1rem; line-height:1rem; padding:0.2rem; font-size:0.667rem; -webkit-transform:scale(0.8); display:inline-block; color:#fcc480; font-style:normal; border:1px solid #fbae52; border-radius:0.2rem;}
.biAOpt .biAOI{ color:#ff2830; border-color:#ff2830;}

.stLogo{ height:9rem; text-align:center; margin-top:1.667rem;}
.stLogo img{ height:100%;}
.stag textarea{ width:78%; height:6rem; padding:0.5rem 0 0 2.625%; font-size:1rem; color:#a9a9a9; border:1px solid #efefef; resize:none; display:block; margin:1.667rem auto 0 auto;}
.stSub{ width:80.625%; height:3.167rem; line-height:3.167rem; text-align:center; font-size:1.333rem; color:#fff7f4; background-color:#ff6700; border:1px solid #e1e1e1; border-radius:0.2rem; display:block; margin:1rem auto 0 auto;}
.stBot{ text-align:center; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb; margin:4.833rem auto 0 auto;}
.stBot p{ line-height:2.667rem; font-size:1.167rem; color:#8a8a8a;}
.stBot img{ height:4.167rem; margin:0.833rem 0;}
.stHelp{ height:1.167rem; line-height:1.167rem; margin:3rem 0 1.167rem 0;}
.stHelp img{ height:1.167rem; float:left; margin:0 1% 0 39.375%;}
.stHelp a{ font-size:1rem; color:#999;}
.stHCon{ width:86.25%;  position:absolute; top:2rem; left:6.875%; z-index:11; position:absolute;}
.stHCon img{ display:block; width:100%;}
.stHCon a{ width:2.167rem; position:absolute; right:-1rem; top:-1rem;}

.stSInfo{ padding:0.833rem 0; background-color:#FFF;}
.stSInfo img{ height:4.167rem; float:left; margin-left:0.833rem;}
.stSInfo p{ width:70%; line-height:1.333rem; height:2.666rem; font-size:1rem; color:#333; float:left; margin:0.5rem 0 0 1.5rem; overflow:hidden;}
.stSmon{ background-color:#FFF; margin-top:0.833rem;}
.stSOpt{ height:4rem; line-height:4rem; padding:0 1.167rem 0 1rem; font-size:1rem; color:#333; border-top:1px solid #efefef;}
.stSOpt:nth-child(1){ border-top:none;}
.stSOpt input{ width:80%; height:4rem; border:none; background:none; font-size:1rem; color:#a9a9a9; text-align:right; float:right;}
.stSOpt samp{ color:#a9a9a9; float:right; margin-right:1.167rem;}
.stSOpt img{ height:1.25rem; float:right; margin-top:1.375rem;}
.stSNote{ padding:0 1.167rem 0 1rem; font-size:1rem; border-top:1px solid #efefef;}
.stSFl{ line-height:4rem; color:#333; float:left;}
.stSFr{ width:69%; float:left; margin:1.166rem 0 0 3.75%;}
.stSFr textarea{ width:100%; height:6.167rem; line-height:1.667rem; font-size:1rem; color:#a9a9a9; resize:none; background:none; border:none; display:block;}
.stSum{ height:4.75rem; padding:0.5rem 0; border:1px solid #fae0ce; margin-top:0.833rem; visibility:hidden;}
.stSum p{ width:48%; padding-left:2%; line-height:1.667rem; font-size:1rem; color:#ff7425; float:left; display:none;}
.stSum samp{ padding-left:2%; line-height:1.667rem; font-size:1rem; color:#ff7425; display:none;}
.stA{ height:3.333rem; text-align:center; margin:0.833rem 0 2rem 0;}
.stA a{ width:44.6%; height:3.167rem; line-height:3.167rem; text-align:center; font-size:1.25rem; color:#656565; background-color:#FFF; border:1px solid #f0f0f0; border-radius:0.2rem; display:inline-block; margin:0 0.417rem;}
.stA .stAa2{ color:#FFF; background-color:#ff6700; border-color:#ff6700;}

.stUTop, .stUBot{ background-color:#FFF; margin-top:0.833rem;}
.stUTop p{ width:92.5%; height:3.333rem; line-height:3.333rem; font-size:1rem; color:#333; border-bottom:1px solid #efefef; margin:0 auto; overflow:hidden;}
.stUTop p:nth-last-child(1){ border-bottom:none;}
.stUTop samp{ font-size:1.25rem;}

.stSTop{ background-color:#FFF;}
.stSTop1{ border-top:1px solid #efefef; visibility:hidden;}
.stSign a{ height:3.333rem; line-height:3.333rem; font-size:1.167rem; color:#494949; background-color:#FFF; margin-top:0.833rem; display:block;}
.stSign a img{ height:1.417rem; float:left; margin:0.958rem 0.833rem 0 0.833rem;}
.stSuTop{ text-align:center; margin-top:4.167rem;}
.stSuTop img{ height:5rem;}
.stSuTop p{ line-height:3.167rem; font-size:1.167rem; color:#939393;}
.stSuState{ width:87.5%; padding-top:1.667rem; line-height:1.667rem; font-size:1rem; color:#808080; border-top:1px solid #ececec; margin:3.667rem auto 2.667rem auto;}
.stSuState a{ color:#5399fe; display:block;}

.payInfo{ padding:0.417rem 3.125%; background-color:#FFF; margin-top:2.917rem;}
.payInfo p{ height:1.833rem; line-height:1.833rem; font-size:1rem; color:#a9a9a9; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.payTitle{ height:2.667rem; line-height:2.667rem; font-size:1rem; color:#808080; margin-left:2.813%;}
.payMoney{ color:#5d5d5d; background-color:#FFF;}
.payMoney p{ height:3.75rem; line-height:3.75rem; padding:0 4.375% 0 3.125%; font-size:1.167rem;}
.payMoney span{ color:#e53434; float:right;}
.payMoney a{ height:3.75rem; line-height:3.75rem; padding:0 4.375% 0 3.125%; color:#5d5d5d; font-size:1.167rem; border-top:1px solid #efefef; display:block;}
.payMoney img{ height:1.25rem; float:right; margin-top:1.25rem;}
.payMoney samp{ font-size:1.167rem; color:#8a8a8a; float:right; margin-right:3.125%;}
.payWay{ background-color:#FFF;}
.payWOpt{ height:3.75rem; line-height:3.75rem; padding:0 4.375% 0 3.125%; font-size:1.167rem; color:#333; border-bottom:1px solid #efefef;}
.payWOpt:nth-last-child(1){ border-bottom:none;}
.payWOpt img{ height:1.583rem; margin-top:1.083rem;}
.payWOpt span{ float:left; margin-left:1rem;}
.payTime{ width:100%; max-width:660px; height:2.917rem; line-height:2.917rem; font-size:1.167rem; color:#ffefef; background-color:#ff7272; position:absolute; top:0;}
.payTime img{ height:1.333rem; float:left; margin:0.792rem 0.833rem 0 20.312%;}

.paySuc{ text-align:center; margin-top:7.6rem;}
.paySuc img{ height:5rem;}
.paySuc p{ line-height:3.333rem; font-size:1.167rem; color:#808080; margin-bottom:3rem;}

.pop{ display:none;}
.popBg{ width:100%; background-color:#000; filter:alpha(opacity=50); opacity:0.5; position:absolute; top:0; left:0; z-index:10;}
.popCon{ width:100%; background-color:#FFF; position:absolute; bottom:0; left:0; z-index:11;}
.popCTop{ height:3.75rem; line-height:3.75rem; text-align:center; font-size:1.167rem; color:#a1a1a1; border-bottom:1px solid #ff6700;}
.popCTop a{ height:1rem; float:right; margin:1.375rem 0.833rem 0 0;}
.popCTop img{ height:100%; display:block;}
.popCCon{ max-height:20rem; overflow:auto;}
.popCCon a{ height:3.333rem; line-height:3.333rem; text-align:center; font-size:1.167rem; color:#333; border-top:1px solid #f1f1f1; display:block;}
.popCCon a:nth-child(1){ border-top:none;}
.popCCon .addCa{ color:#ff6700;}

.asOpt{ background-color:#FFF;}
.asCon{ width:95.625%; padding-bottom:0.7rem; margin:0 auto 0.833rem auto;}
.asOTop{ height:3.333rem; line-height:3.333rem; padding-left:1.63%; color:#333; border-bottom:1px solid #efefef;}
.asOCon{ padding:0.5rem 0 0.667rem 1.63%; border-bottom:1px solid #efefef;}
.asOCon span{ height:2.666rem; line-height:1.333rem; font-size:1rem; color:#7d7d7d; display:block; overflow:hidden; margin-bottom:0.5rem;}
.asOCon p{ line-height:1.333rem; font-size:1rem; color:#959595;}
.asOCon samp{ color:#ff6700;}
.asOBot{ height:2.167rem; padding-top:0.833rem;}
.asOBot a{ width:6rem; height:2rem; line-height:2rem; text-align:center; font-size:1.083rem; color:#333; border:1px solid #f1f1f1; float:right; margin-left:0.833rem;}

.afDTop{ padding:0.5rem 3.125% 1.333rem 3.125%; background-color:#FFF;}
.afDTop p{ line-height:1.5rem; font-size:1rem; color:#b8b8b8;}
.afDCon{ background-color:#FFF; margin-top:0.833rem;}
.afDTitle{ width:93.75%; height:3.333rem; line-height:3.333rem; font-size:1.167rem; color:#333; border-bottom:1px solid #efefef; margin-left:3.125%;}
.afDel{ width:92%; margin:0 auto;}
.afDOpt{ padding:0.5rem 0; color:#8a8a8a; border-top:1px solid #efefef;}
.afDOpt:nth-child(1){ border-top:none; color:#ff6700;}
.afDOpt p, .afDOpt span{ line-height:1.5rem; font-size:1rem;}

.afATop{ height:5rem; padding-top:0.833rem; background-color:#FFF;}
.afATop img{ height:4.167rem; float:left; margin-left:3.125%;}
.afATop a{ width:68.75%; line-height:1.333rem; font-size:1rem; color:#5d5d5d; float:left; margin:0.5rem 0 0 6.25%;}
.afAType{ height:6.667rem; background-color:#FFF; margin-top:0.833rem;}
.afAType p{ line-height:2.667rem; font-size:1.167rem; color:#494949; margin-left:3.125%;}
.afAType a{ width:25%; height:2.167rem; line-height:2.167rem; text-align:center; font-size:1.167rem; color:#878787; background-color:#f2f2f2; border-radius:1.083rem; float:left; margin:0.75rem 0 0 3.125%;}
.afAType .afATa{ color:#FFF; background-color:#ff6700;}
.afDesc{ background-color:#FFF; margin-top:0.833rem;}
.afDesc p{ line-height:2.5rem; font-size:1.167rem; color:#494949; margin-left:3.125%;}
.afDesc textarea{ width:93.75%; height:6rem; line-height:1.667rem; font-size:1rem; color:#b0b0b0; border:none; background:none; margin-left:3.125%;}
.afDImg{ height:5.583rem; margin-top:0.333rem;}
.afDIOpt{ width:5.583rem; height:5.583rem; line-height:5.583rem; text-align:center; display:table-cell; float:left; margin-left:3.125%; position:relative;}
.afDIOpt img{ height:100%; max-width:5.583rem; max-height:5.583rem; vertical-align:middle;}
.afDIOpt .afAImg{ height:100%;}
.afDIOpt a{ width:1.333rem; height:1.333rem; position:absolute; top:-0.3rem; right:-0.3rem;}
.afDIOpt a img{ display:block; width:100%;}
.afDesc span{ line-height:2.5rem; font-size:1rem; color:#b0b0b0; margin-left:3.125%;}
